.parent {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 5);
}

.sidebar {
    -fx-background-color: #E7F5DC;
    -fx-background-radius: 0px 0px 0px 0px;
}

.sidebar_opt {
    -fx-fill: #F3F3F3;
}

.tag {
    -fx-background-radius: 0px 30px 0px 30px;
}

.home_top {
    -fx-background-color: #E7F5DC;
    -fx-background-radius: 20px 20px 20px 20px;
}

.home_background {
    -fx-background-color:  #B6C99B;
}

.content {
    -fx-background-color: #abb3b9;
}

.update_btn {
    -fx-background-color:#9ACD32;
    -fx-background-radius: 3px;
    -fx-font-family: "Barlow Condensed ExtraBold"; /* Đảm bảo font hỗ trợ in nghiêng */
    -fx-font-size: 16px;
    -fx-font-style: italic; /* Làm chữ in nghiêng */
    -fx-font-weight: bold; /* Làm chữ đậm */
    -fx-text-fill: white;
}
.update_btnn {
    -fx-background-color:#8c4a31;
    -fx-background-radius: 3px;
    -fx-font-family: "Barlow Condensed ExtraBold"; /* Đảm bảo font hỗ trợ in nghiêng */
    -fx-font-size: 16px;
    -fx-font-style: italic; /* Làm chữ in nghiêng */
    -fx-font-weight: bold; /* Làm chữ đậm */
    -fx-text-fill: white;
}


.update_btn:hover {
    -fx-cursor: hand;
    -fx-background-color: #6B8E23;
}

.delete_btn {
    -fx-background-color: #CD5C5C;
    -fx-background-radius: 3px;
    -fx-font-family: "Barlow Condensed ExtraBold"; /* Đảm bảo font hỗ trợ in nghiêng */
    -fx-font-size: 16px;
    -fx-font-style: italic; /* Làm chữ in nghiêng */
    -fx-font-weight: bold; /* Làm chữ đậm */
    -fx-text-fill: white;
}

.delete_btn:hover {
    -fx-background-color:#993333;
    -fx-cursor: hand;
}
.qr-button {
    -fx-background-color: #79CDCD;
    -fx-background-radius: 3px;
    -fx-font-family: "Barlow Condensed ExtraBold"; /* Đảm bảo font hỗ trợ in nghiêng */
    -fx-font-size: 16px;
    -fx-font-style: italic; /* Làm chữ in nghiêng */
    -fx-font-weight: bold; /* Làm chữ đậm */
    -fx-text-fill: white;
}

.qr-button:hover {
    -fx-cursor: hand;
    -fx-background-color: #528B8B;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 12, 0, 0, 4);
}

.v_box {
    -fx-background-radius: 30px;
    -fx-background-color: #f7f7f7;
}

.add_bar {
    -fx-background-color: #88976C;
    -fx-background-radius: 20px;
}
.frame_action_image {
    -fx-border-color: #ffffff;
    -fx-background-color: #E7F5DC;
    -fx-background-radius: 10;
    -fx-border-radius: 10;

}

.image_view_action {
    -fx-border-color: #ffffff;
    -fx-background-color: transparent;
    -fx-alignment: center;
}

.add_insert_btn {
    -fx-background-color:#8B4C39;
    -fx-background-radius: 0 0 10px 10px;
    -fx-border-radius: 0 0 10px 10px;
    -fx-font-family: "Barlow Condensed ExtraBold"; /* Đảm bảo font hỗ trợ in nghiêng */
    -fx-font-size: 16px;
    -fx-font-style: italic; /* Làm chữ in nghiêng */
    -fx-font-weight: bold; /* Làm chữ đậm */
    -fx-text-fill: white;
}

.add_insert_btn:hover {
    -fx-cursor: hand;
    -fx-background-color: #B6C99B;
}

.text {
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}
.user_add_btn{
    -fx-background-radius: 3px;
    -fx-background-color:#8c4a31;
}
.user_add_btn:hover{
    -fx-background-color:#CD853F;
    -fx-cursor: hand;
}
.document_swap_btn {
    -fx-background-color: #8c4a31;
    -fx-background-radius: 3px;
}
.document_swap_btn:hover {
    -fx-cursor: hand;
    -fx-background-color: #CD853F;
}
.update_btnn:hover {
    -fx-cursor: hand;
    -fx-background-color: #CD853F;
}
.document_swap_btn_ {
    -fx-background-color: #8c4a31;
    -fx-background-radius: 3px;
}

.document_swap_btn_:hover {
    -fx-cursor: hand;
    -fx-background-color:#CD853F;
}
.button_dash_board{
    -fx-background-color: #728156;
    -fx-border-color: transparent;
}
.button_dash_board:hover{
    -fx-cursor: hand;
}

.init_home_btn {
    -fx-background-color: #728156
}


.qr_background {
    -fx-background-color: #fff;
    -fx-background-radius: 30px;
}
.init_home_btn:hover{
    -fx-cursor: hand;
}
.user_card{
    -fx-background-color: #8B5A2B;
    -fx-background-radius: 20px;
}
.document_card{
    -fx-background-color:#8B4513;
    -fx-background-radius: 20px;
}
.transaction_card{
    -fx-background-color:#8B4C39 ;
    -fx-background-radius: 20px;
}
.stack_image_home{
    -fx-background-radius: 20px;
    -fx-background-color: #E7F5DC;
}
.scroll-bar {
    -fx-background-color: #2c3e50;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: #129782;
}

.scroll-bar .thumb {
    -fx-background-color: #16a085;
}
.table-view{
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to bottom right,#2d658c,#2ca772);
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom right,#2d658c,#2ca772);
    -fx-background-radius: 8px 8px 0px 0px;
    -fx-background-insets:0 0 0 0;
}
.table-view .column-header, .filter{
    -fx-background-color: transparent;
    -fx-size:40px;
}
.table-view .column-header .label{
    -fx-text-fill: #fff;
    -fx-font-family: Arial;
}
.table-view .table-column {
    -fx-alignment: CENTER;
}
.borrow_btn{
    -fx-background-radius: 20px;
    -fx-background-color: linear-gradient(to right, #b76e79, #7e4a4e);
    -fx-font-family: "Barlow Condensed ExtraBold"; /* Đảm bảo font hỗ trợ in nghiêng */
    -fx-font-size: 20px;
    -fx-font-style: italic; /* Làm chữ in nghiêng */
    -fx-font-weight: bold; /* Làm chữ đậm */
    -fx-text-fill: white;
}
.borrow_btn:hover{
    -fx-background-color: linear-gradient(to right, #a35b66, #6c3f43);
    -fx-cursor: hand;
    transition: -fx-background-color 0.3s ease-in-out;
}
.return_btn{
    -fx-background-radius: 20px;
    -fx-background-color: linear-gradient(to right, #8b9a77, #5e6e4a);
    -fx-font-family: "Barlow Condensed ExtraBold"; /* Đảm bảo font hỗ trợ in nghiêng */
    -fx-font-size: 20px;
    -fx-font-style: italic; /* Làm chữ in nghiêng */
    -fx-font-weight: bold; /* Làm chữ đậm */
    -fx-text-fill: white;
}
.return_btn1{
    -fx-background-radius: 20px;
    -fx-background-color: linear-gradient(to right, #b76e79, #7e4a4e);
    -fx-font-family: "Barlow Condensed ExtraBold"; /* Đảm bảo font hỗ trợ in nghiêng */
    -fx-font-size: 20px;
    -fx-font-style: italic; /* Làm chữ in nghiêng */
    -fx-font-weight: bold; /* Làm chữ đậm */
    -fx-text-fill: white;
}
.return_btn:hover{
    -fx-background-color: linear-gradient(to right, #7a8867, #515c3e);
    -fx-cursor: hand;
    transition: -fx-background-color 0.3s ease-in-out;
}
.return_btn1:hover{
    -fx-background-color: linear-gradient(to right, #7a8867, #515c3e);
    -fx-cursor: hand;
    transition: -fx-background-color 0.3s ease-in-out;
}
.querry_btn1:hover{
    -fx-background-color: linear-gradient(to right, #7a8867, #515c3e);
    -fx-cursor: hand;
    transition: -fx-background-color 0.3s ease-in-out;

}
.querry_btn{
    -fx-background-radius: 20px;
    -fx-background-color: linear-gradient(to right, #7687a0, #4c5a72);
    -fx-font-family: "Barlow Condensed ExtraBold"; /* Đảm bảo font hỗ trợ in nghiêng */
    -fx-font-size: 20px;
    -fx-font-style: italic; /* Làm chữ in nghiêng */
    -fx-font-weight: bold; /* Làm chữ đậm */
    -fx-text-fill: white;
}
.querry_btn1{
    -fx-background-radius: 20px;
    -fx-background-color: linear-gradient(to right, #b76e79, #7e4a4e);
    -fx-font-family: "Barlow Condensed ExtraBold"; /* Đảm bảo font hỗ trợ in nghiêng */
    -fx-font-size: 20px;
    -fx-font-style: italic; /* Làm chữ in nghiêng */
    -fx-font-weight: bold; /* Làm chữ đậm */
    -fx-text-fill: white;
}
.querry_btn:hover{
    -fx-background-color: linear-gradient(to right, #667893, #3e4d63);
    -fx-cursor: hand;
    transition: -fx-background-color 0.3s ease-in-out;

}

.search{
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to bottom right, #2d658c, #2ca772);
    -fx-border-width: .8px;
    -fx-border-radius: 8px;
    -fx-font-size: 14px;
    -fx-font-family: Arial;
    -fx-padding: 0px 0px 0px 28px;
    -fx-text-fill: white;
}

.table1 {

}